.m-signature-pad{
  width: 100%;
  height: 400px;
  border: 1px solid #9d9d9d;
  margin: 20px 0px;
}

.m-signature-pad--body{
  height: 88%;
}

.m-signature-pad--body canvas{
  width: 100%;
  height: 100%;    
  background: #fff;
}

.m-signature-pad--footer{
  padding: 15px 0px;
  margin: 0px 25px;
  border-top: 1px solid #C3C3C3;
}

.m-signature-pad--footer .description{
  color: #C3C3C3;
  text-align: center;
  width: 100%;
}

.m-signature-pad--footer .button{
  float: right;
  width: 90px;
  margin: 0px;
  padding: 5px 0px;
  margin-top: -24px;
  font-size: 0.85em;
  text-align: center;
  font-weight: 300; 
  background: #c3c3c3;
}

.m-signature-pad--footer .button.save{
  visibility: hidden;
}